<body>
  <div class="intro">
      <header>
        <img class="logo" src="https://i.postimg.cc/XYgSxQQZ/logo.png" alt="">
          <nav>
              <ul class="nav-area">

  <li><a href="#services">Why NAVIGIAS</a></li>
  <li><a href="#give">Our services</a></li>
  <!--<li><a href="#">Our Device</a></li>-->
  <li><a href="#fqas">FAQs</a></li>
  <li><a href="#differently">About Us</a></li>
  </ul>
  </nav>
          <div class="log">
              <div class="ops">
          <a (click)="join()"  class="btn-area">Join Us</a>
          <a (click)="join()"  class="btn-area1">Login</a>
              </div>
         </div>
         
      </header>
      <section>
          
          <div class="text1">
             <p class="drive"> 
                 Lorem ipsum dolor sit amet consectetur adipisicing elit.
             </p> 
             <p class="drive1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus perspiciatis eius, exercitationem ad, delectus assumenda repellat deleniti in, doloremque voluptatibus obcaecati necessitatibus rerum sint ipsam minus corporis consequuntur cumque velit?</p>
             <a href="#" class="apo">Download Our App</a> 
          </div>
          <div class="im"> 
             <img class="gif" src="../assets/us.gif" alt="" >
          </div>
      </section>
  </div>
      <section class="benefits">
      <div class="rowh">     
      <div class="povu">
          <div class="pu">
              What if you could stop worrying anout your product shipping condition & the finnacial lost from it ...
          </div>
        <div class="pu1">
            .. and start focusing on your BIG dreams again ?  
        </div>
      </div>
          <div class="columnin">
              <div class="cardoi">
                  <img src="../assets/win.svg" alt="">
                 <div class="fromage">
                     Like keeping your product innovative and game-changing as the industry evolves.
                 </div> 
              </div>
              <div class="cardoi">
                  <img src="../assets/emprove.svg" alt="">
                  <div class="fromage">
                      Or improving customer experience.
                  </div>
              </div>
              <div class="cardoi">
                  <img src="../assets/money.svg" alt="">
                  <div class="fromage">
                       Or maybe finally benefiting completly from your product 
                      ( no more finnalial lost from shippment accident )
                  </div>
              </div>
          </div>
      </div>     
      </section>
     <a name="services"></a>
          <section class="services">
          <div class="service">
              <div class="toto">
                   Why NAVIGIAS ? 
              </div>
              <div class="serv">
                  <div class="ima"> 
                      <img class="IMO" src="../assets/AUTOMATED.svg" alt="" >
                  </div>   

                  <div class="ex">
                      
                      <p class="ty">An automated monitoring system</p> 
                      <p class="pm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus perspiciatis eius, exercitationem ad, delectus assumenda repellat deleniti in, doloremque voluptatibus obcaecati necessitatibus rerum sint ipsam minus corporis consequuntur cumque velit?</p>
                  </div>
              </div>
              <div class="serv">
                  <div class="ima1"> 
                      <img src="../assets/real-time.svg" alt="" >
                  </div>  
                  <div class="ex1">
                      <p class="ty1">we provide you with real-time data</p> 
                      <p class="pm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus perspiciatis eius, exercitationem ad, delectus assumenda repellat deleniti in, doloremque voluptatibus obcaecati necessitatibus rerum sint ipsam minus corporis consequuntur cumque velit?</p>
                  </div>
              </div>
              <div class="serv">
                  <div class="ima"> 
                      <img src="../assets/notification.svg" alt="" >
                  </div>  
                  <div class="ex">
                      <p class="ty">We prevent accidents from happening </p> 
                      <p class="pm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus perspiciatis eius, exercitationem ad, delectus assumenda repellat deleniti in, doloremque voluptatibus obcaecati necessitatibus rerum sint ipsam minus corporis consequuntur cumque velit?</p>
                  </div>
              </div>
          </div> 
       <!--  <img class="BD" src="../assets/bloblueD.svg" alt="" >
          <img class="BL" src="../assets/blobluel.svg" alt="" >
          <img class="PD" src="../assets/blobpinkD.svg" alt="" >
          <img class="PL" src="../assets/blobpinkl.svg" alt="" >--> 
      
      </section>
      <a name="differently"></a> 
      <section class="differently">
         
          <div class="row1">     
              <div class="pov1">
              <div class="p1">We Do Things A little Differently</div>
              <div class="p2">Here</div>  
              </div>
                  <div class="column1">
                      <div class="cards">
                          <img src="../assets/report.svg" alt="">
                          <div class="japan">
                              Transparent Reporting
                          </div>
                          
                          <div class="up">We give it to you straight — no murky reports. We love sharing the “What” and “Why” behind every strategy.</div>
                      </div>
                      <div class="cards">
                          <img src="../assets/goal.svg" alt="">
                          <div class="japan">
                              Our Goal 
                          </div>
                          <div class="up1">We want to earn your business, not trap it!. It’s our job to make sure an ongoing partnership with us is an easy “Yes</div>
                      </div>
                      <div class="cards">
                          <img src="../assets/customize.svg" alt="">
                          <div class="japan">
                              Customized  Device
                          </div>
                          
                          <div class="up">One-size-fits-all marketing? Not on our watch. Our Device will be shaped by your industry, made for your audience, and prioritized according to your unique needs</div>
                      </div>
                  </div>
              </div>  
      </section>
           
     <a name="give"></a>
      <section class="give">
          <div class="anglais">
              Navigias platform
          </div>
          <div class="anglais1">
              will allow to :
          </div>
          
          
              <div class="s">
                  <div class="div1">
                      <img src="../assets/realtime.svg" alt="">
                          <p> recieve real-time data </p>
                       </div>
                  <div class="div2">
                      <img src="../assets/truck.svg" alt="">
                         <p> track containers</p>
                  </div>
                  <div class="div3">
                      <img src="../assets/add.svg" alt="">
                      <p>  setup cntainer</p>
                  </div>
                  <div class="div4">
                      <img src="../assets/alert.svg" alt="">
                         <p> recieve alert in case of unwanted changes</p>
                  </div>
                  <div class="div5">
                      <img src="../assets/repor.svg" alt="">
                      <p> recieve a detailed report at the end of every shippment</p>
                  </div>
                  <div class="div6">
                      <img src="../assets/choose.svg" alt="">
                         <p> choose the needed sensors to ensure your product safety</p>
                  </div>
                  <div class="div7"> 

                      <img src="../assets/stafflist.svg" alt="">
                      <p> manage staff list</p>
                  </div>
                  <div class="div8">
                      <img src="../assets/add.svg" alt="">
                      <p> edit staff list</p>
                  </div>
                  <div class="div9"> 
                      <img src="../assets/add.svg" alt="">
                      <p> edit staff list</p>
                  </div>
                  </div>
              <!--<div class="s1">
                  <ul>
                      <li>
                          <img src="../assets/realtime.svg" alt="">
                          <p> recieve real-time data </p>
                      </li>
                      <li>
                          <img src="../assets/truck.svg" alt="">
                         <p> track containers</p>
                       </li>
                      <li>
                          <img src="../assets/add.svg" alt="">
                         <p>  setup cntainer</p>
                      </li>
                      <li>
                          <img src="../assets/alert.svg" alt="">
                         <p> recieve alert in case of unwanted changes</p>
                      </li>
                    </ul>
              </div>
              <div class="s2">
                  <ul>
                      <li>
                          <img src="../assets/repor.svg" alt="">
                         <p> recieve a detailed report at the end of every shippment</p>
                       </li>
                      <li>
                          <img src="../assets/choose.svg" alt="">
                         <p> choose the needed sensors to ensure your product safety</p>
                      </li>
                      <li>
                          <img src="../assets/stafflist.svg" alt="">
                         <p> manage staff list</p>
                      </li>
                      <li>
                          <img src="../assets/add.svg" alt="">
                         <p> edit staff list</p>
                      </li>
                    </ul>
              </div>
          </div>-->
          
      </section>
     <!--<section class="slideshow">
              <h1>User experience</h1>
      </section> -->
<section class="story">
  <div class="total">
      
        <h1>AlicanTech</h1>  
      
        
      <div class="selfie">
             <img src="../assets/TEAMWORK.gif" alt=""> 
          </div>
      <div class="about-section">
        <div class="inner-container">
            <div class="border"></div>
          <p class="text">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste, exercitationem, nam architecto perspiciatis culpa dolorum laudantium facilis esse quo, atque minus? Quaerat, assumenda architecto numquam similique molestias ducimus eum perferendis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum nesciunt omnis soluta recusandae sit! Distinctio labore, totam repudiandae quae delectus iste velit ipsa, dolorum doloremque nesciunt architecto! Corrupti, ipsum tempore? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus facere ut sunt repellendus deleniti? In, reprehenderit, nostrum totam omnis alias incidunt dolores facilis earum quod tempora cumque illum aperiam Lorem, ipsum dolor sit amet consectetur adipisicing elit. Culpa earum iste quod tenetur repellat maiores eos? 
          </p>
        </div>
      </div>
     </div> 
  </section>    
         
      <section class="we">
          <div class="stand">
              <div class="i"> 
                  <img src="../assets/stand.gif" alt="" >
              </div>  
              <div class="list">
                  <div class="h">
                  What We stand For 
                  </div>
                  <div class="lo">
                  <ul>
                      <li>Guarantee products safety </li>
                      <li>Help businesses Grow</li>
                      <li>Honesty & transparency</li>
                      <li>Never stop learning</li>
                      <li>devlope & emprove</li>
                    </ul>
                  </div>
              </div>
          </div>
      </section>
<section class="wrappert">
     <div class="wp">  Meet Our Team</div>
      <div class="team">
        <div class="team_member">
          <a class="A" href="#">
          <div class="team_img">
            <img src="../assets/boy.svg" alt="Team_image">
          </div>
          <div class="theyare">
               fares
          </div>
        
          <p class="role">UI developer</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est quaerat tempora, voluptatum quas facere dolorum aut cumque nihil nulla harum nemo distinctio quam blanditiis dignissimos.</p>
        </a>
        </div>
        <div class="team_member">
          <a  class="A" href="">
          <div class="team_img">
            <img src="../assets/boy.svg" alt="Team_image">
          </div>
          <div class="theyare">
              abderaouf
          </div>
          
          <p class="role">UI developer</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est quaerat tempora, voluptatum quas facere dolorum aut cumque nihil nulla harum nemo distinctio quam blanditiis dignissimos.</p>
         </a>
        </div>
        <div class="team_member">
          <a  class="A" href="">
          <div class="team_img">
            <img src="../assets/girl.svg" alt="Team_image">
          </div>
          <div class="theyare">
              yasmine
          </div>
         
          <p class="role">UI developer</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est quaerat tempora, voluptatum quas facere dolorum aut cumque nihil nulla harum nemo distinctio quam blanditiis dignissimos.</p>
          </a>
        </div>
        <div class="team_member">
          <a class="A" href="">
          <div class="team_img">
            <img src="../assets/girl.svg" alt="Team_image">
          </div>
          <div class="theyare">
              ameny
          </div>
          
          <p class="role">Tester</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est quaerat tempora, voluptatum quas facere dolorum aut cumque nihil nulla harum nemo distinctio quam blanditiis dignissimos.</p>
          </a>
        </div>
        <div class="team_member">
          <a class="A" href="">
          <div class="team_img">
            <img src="../assets/girl.svg" alt="Team_image">
          </div>
          <div class="theyare">
              dorra
          </div>
          <p class="role">Support Lead</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est quaerat tempora, voluptatum quas facere dolorum aut cumque nihil nulla harum nemo distinctio quam blanditiis dignissimos.</p>
         </a>
        </div>
      </div>
    </section>
     <a name="fqas"></a>
      <!--<section class="fqas">
          <div class="askouni">
              FAQs
          </div>
         
          <div class="kl">
          <div class="fir">
              <div class="gn">
                  <div class="francais">
                      Lorem ipsum dolor sit amet consectetur, adipisicing elit.?
                  </div>
              
              <p>  e hic, recusandae explicabo! Dolores doloremque saepe beatae? Tempora? Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus optio quia amet earum hic autem a, aliquam totam unde nisi ipsam id nihil non recusandae accusamus. Odit debitis quasi enim! lore Soluta rem, quidem possimus, maxime doloribus minima nesciunt consectetur omnis perspiciatis voluptas voluptate officiis veniam accusantium velit sunt sit iure consequatur in!</p>
              </div>
              <div class="gm">
                  <div class="francais">
                      Lorem ipsum dolor sit amet consectetur, adipisicing elit.?
                  </div>
                 
                  <p> consectetur omnis perspiciatis voluptas voluptate officiis veniam accusantium velit sunt sit iure consequatur in!</p>
          </div>
          </div>
          <div class="firs">
              <div class="gns">
                  <div class="francais">
                      Lorem ipsum dolor sit amet consectetur, adipisicing elit.?
                  </div>
              
              <p>us. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem quasi natus ipsam suscipit, aliquam amet dicta optio. Reiciendis amet laborum, cupiditate, architecto similique ullam temporibus quod impedit, laboriosam assumenda numquam. sit amet consectetur adipisicing elit. Soluta rem, quidem possimus, maxime doloribus minima nesciunt consectetur omnis perspiciatis voluptas voluptate officiis veniam accusantium velit sunt sit iure consequatur in!</p>
              </div>
              <div class="gms">
                  <div class="francais">
                      Lorem ipsum dolor sit amet consectetur, adipisicing elit.?
                  </div>
                 
                  <p> axime doloribus minimaperspiciatis voluptas voluptate officiis veniam accusantium velit sunt sit iure consequatur in!</p>
              </div>
          </div>   
          </div>

      </section>-->
      <section class="try2nd">
          <div class="fireee">
              FAQs
          </div>
          <div class="dope">
            <img src="../assets/faqs.gif" alt="" >
          </div>
          <div class="soual">
              <div class="accordination">
                  <div class="acc-it" id="ques1">
                      <a class="tari9"href="#ques1">
                          Lorem ipsum dolor sit amet consectetur adipisicing elit
                          <i class="nc-icon nc-minimal-up"></i>
                          <i class="nc-icon nc-minimal-down"></i>
                     </a>
                     <div class="anso">
                         <p>
                               Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur ab asperiores accusantium quam, saepe adipisci veniam recusandae atque alias quia sunt a esse, ducimus sapiente unde quo ad dolores eaque.
                         </p>
                     </div>
                  </div>
                  <div class="acc-it" id="ques2">
                    <a class="tari9"href="#ques2">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit
                        <i class="nc-icon nc-minimal-up"></i>
                        <i class="nc-icon nc-minimal-down"></i>
                   </a>
                   <div class="anso">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur ab asperiores accusantium quam, saepe adipisci veniam recusandae atque alias quia sunt a esse, ducimus sapiente unde quo ad dolores eaque.
                  </p>                
                   </div>
                </div>
                <div class="acc-it" id="ques3">
                    <a class="tari9"href="#ques3">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit
                        <i class="nc-icon nc-minimal-up"></i>
                        <i class="nc-icon nc-minimal-down"></i>
                   </a>
                   <div class="anso">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur ab asperiores accusantium quam, saepe adipisci veniam recusandae atque alias quia sunt a esse, ducimus sapiente unde quo ad dolores eaque.
                  </p>
                   </div>
                </div>
                <div class="acc-it" id="ques4">
                    <a class="tari9"href="#ques4">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit
                        <i class="nc-icon nc-minimal-up"></i>
                        <i class="nc-icon nc-minimal-down"></i>
                   </a>
                   <div class="anso">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur ab asperiores accusantium quam, saepe adipisci veniam recusandae atque alias quia sunt a esse, ducimus sapiente unde quo ad dolores eaque.
                  </p>
                   </div>
                </div>
              </div>
          </div>
      </section>
      <section class="last">
          <div class="serv">
              <div class="jx"> 
                  <img src="../assets/join.svg" alt="" >
              </div>  
              <div class="ready">
                  <div class="yalla">
                      Ready to level up the game ?
                  </div>
                 
                  <p>join us by creating a NAVIGIAS account and guarantee your product's safety</p>
                  <div class="k">
                      <a (click)="join()" class="join">join us</a>
                  </div>
              </div>
              
          </div>
      </section>
      <section class="before">
          <div class="learn">
              <div class="o"> 
                  <img  src="../assets/learn.svg" alt="" >
              </div>  
              <div class="in">
                  <div class="spain">
                      How does it work ?
                  </div>
              
              <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ducimus ipsa laborum odio quidem temporibus sequi ut deserunt nam consequatur excepturi qui aliquam perspiciatis molestiae impedit magni, debitis hic cupiditate nemo. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi, natus perspiciatis, eveniet architecto officiis assumenda vel libero nisi rem, maiores dolorem numquam voluptatem repellat quo! Nisi aperiam sint sequi earum!</p>
              <a href="#" class="an">Lear more about the process ?</a> 
              </div>
          </div>
          <div class="contact">
              <div class="in1">
              <div class="o1"> 
                  <img src="../assets/help.svg" alt="" >
              </div>
              <div class="spain">
                  Help !
              </div>
             
             <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ducimus ipsa laborum odio quidem temporibus sequi ut deserunt nam consequatur excepturi qui aliquam perspiciatis molestiae impedit magni, debitis hic cupiditate nemo. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi, natus perspiciatis, eveniet architecto officiis assumenda vel libero nisi rem, maiores dolorem numquam voluptatem repellat quo! Nisi aperiam sint sequi earum!</p>
             <a href="#" class="an"> contact us for help !
             </a>
             </div>
          </div>

      </section>
      <section class="footer-cleanr">
          <footer >
              <div class="containeru">
                  <div class="rowx" >
                      <div class="col-sm-4 col-md-3 iteme">
                          <h2>NAVIGIAS</h2>
                          <ul>
                              <li><a href="#">Why NAVIGIAS</a></li>
                              <li><a href="#">Our device</a></li>
                              <li><a href="#">Our services</a></li>
                          </ul>
                      </div>
                      <div class="col-sm-4 col-md-3 iteme">
                          <h2>About</h2>
                          <ul>
                              <li><a href="#">Team</a></li>
                              <li><a href="#">FAQs</a></li>
                              <li><a href="#">Legacy</a></li>
                          </ul>
                      </div>
                      <div class="col-sm-4 col-md-3 iteme">
                          <h2>Lorem</h2>
                          <ul>
                              <li><a href="#">Lorem</a></li>
                              <li><a href="#">Lorem</a></li>
                              <li><a href="#">Lorem</a></li>
                          </ul>
                      </div>
                      <div class="col-lg-3 iteme social" id="mediad"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a>
                          <p class="copyright"> NAVIGIAS © 2021</p>
                      </div>
                  </div>
              </div>
          </footer>
      </section>

  </body>