*{  
  margin: 0;
  padding: 0;
  box-sizing: border-box;     
}
body{
  background: linear-gradient(90deg, white 40%, #e3ecfe 60%);
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  font-family: poppins;
  font-weight: 600;
  font-size: 16px; 
        
}
.pu{
  font-size: 26;
  margin-left: 200px;
}
a{
  text-decoration: none;
}
header{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 70px;
 
}



.logo{
  cursor: pointer;
  opacity: 0;
 
}
.nav-area{
  list-style: none;
   position: relative;
   left: 45%;

}
.nav-area li{
  display: inline-block;
  padding: 0 15px;
  text-transform: uppercase;
  
}

.nav-area li a{
  transition: all .3s ease 0s;
  color: #0F0A3C;
  font-size: 18px;
}
.nav-area li a:hover{
  color: #2c1eac;
  text-decoration:underline ;
}
.ops{
  position: relative;
  left: 23.5%;
}
.btn-area {
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding:10px 30px;
  border-radius: 25px;
  background: #2c1eac; 
  margin: 3px;           
}
.btn-area:hover{
  color: white;
}
.btn-area1:hover{
  color: #0F0A3C;
  text-decoration: underline;
}
.btn-area1 {
  cursor: pointer;
  color: #2c1eac;
  font-size: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  background:none;  
  padding: 20px;           
}
section{
  position: relative;
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1%;
  padding: 0 100px;
  
}
.im{
  margin-left: 10%;
}
.text1{
  position: relative;
  max-width: 600px;
  z-index: 5;
}
.text1 .drive{
  font-size: 40px;
  color: #0F0A3C;
  text-transform: uppercase;
 padding-bottom: 40px;
 
}
.text1 .drive1{
  margin-top:70px;
  margin:10px;
  font-size: 18px;
  color: #07051a;
}
.text1 .apo{
  display: inline-block;
  background: none;
  font-weight: 900;
  text-decoration: none;
  margin:10px;
  padding-top: 20px;
  letter-spacing: 2px;
  font-style: 20px;
  color:#0f5564;
  font-size: 15px;
  text-decoration: underline;
  letter-spacing: 2px;
  text-transform: uppercase;
  
}
.benefits{
  width:100%;
  text-align: center;
  background-color: #09005F;
  height: 80%;

padding:10px;
}
.povu{
  padding: 50px;
  font-size: 26px;
  color: white;
 top: 0;
 position:absolute;
 padding-bottom: 50px;
  
}
.rpwh{
    margin: 60px 0;
    margin-left: 100px;
    margin-right: 100px;
    align-items: baseline;
    justify-content: end;
   
}
.columnin{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
  margin: 60px 0; 
  position: absolute;
  top: 30%;
  left: 10%;
  right: 10%;
}
.columnin .cardoi{
  padding: 20px;
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.2);
  margin-left: 20px;
  margin-right: 20px;
  background-color: white;
  border-radius: 20px;
  transition: transform 250ms;
}
.cardoi .fromage{
  text-align:center;
  margin-bottom: 1.5rem;
  color: #07051a;
  font-size: 20px;
}
.services{
  background-color: white;
 
  margin: 0;
  padding:0;
}
.ima{
  margin-right: 6%;
  padding-left: 60%;
  position: absolute;

  
}
.services .toto{
  padding: 50px;
  margin-left: 560px;
  font-size:45px;
  letter-spacing: 2px;
  color: #09005F;
}
/*.list.h{
  font-size: 26;
  font-weight: 900;
  top: 20px;
  bottom:300px;
  left: 30px;
  position: absolute;
}*/
.text1.drive{
  font-size: 50px;
}
.ex{
  box-sizing: border-box;
  display: block;
  width: 50%;
  padding-left: 40px;
  margin-left: 50px;
  padding-bottom: 100px;
  padding-top: 100px;
  height:10%;
  left: 0;
}
.ty{
  margin-bottom:40px;
  letter-spacing: 2px;
  font-size: 40px;

  justify-content: center;
  align-items: center;
  color: #F76C6C;
}
.ex .pm{
 
  font-size: 35px;
  justify-content: center;
  align-items: center;
  color: #07051a;
}
.ima1{
  margin-left: 8%;
  padding-right: 30%;
  margin-top: 10%;
  position: absolute;
}
.ex1{
  box-sizing: border-box;
  display: block;
  width: 50%;
  padding-left: 50px;
  margin-left: 700px;
  padding-bottom: 100px;
  padding-top: 100px;
  height:10%;
}
.ex1 .ty1{
  margin-bottom:40px;
  letter-spacing: 2px;
  font-size: 40px;
  justify-content: center;
  align-items: center;
  color: #F76C6C;
  
}
.ex1 .pm{
 
  font-size: 35px;
  justify-content: center;
  align-items: center;
  color: #07051a;
}
.slideshow{
  background: #0F0A3C;
  width: 100%;
  margin: 0;
  height: 85%;
}

.slideshow h1{
  padding: 50px;
  float: left;
  margin-bottom: 600px;
  font-size:45px;
  letter-spacing: 2px;
  height: 0%;
  position: absolute;
  color: #BBE1FA;
}
.differently{
  width:100%;
  text-align: center;
  background: #09005F;

  margin:0;
  padding:10px;
}
.pov1{
   position: relative;
  font-size: 26px;
  color: white;
  position: relative;
  margin-top: 70px;
  
}
.pov1::before{
  content: "";
  position:absolute;
  height: 3.5px;
  width: 80px;
  background: #fe877f; 
  left: 47.5%;
}
.row1{
   margin: 48px 0;
    margin-left: 100px;
    margin-right: 100px;
    align-items: baseline;
    justify-content: end;
}
.p1{
  font-size: 28px;
  text-transform: uppercase;
  padding-top: 15px;
  justify-content: center;
  align-items: center;
  position: relative;
}
.p2{
  font-size: 26px;
  text-transform: uppercase;
  padding-top: 15px;
  justify-content: center;
  align-items: center;
  position: relative;
}
.column1{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
  margin: 24px 0;
}
.column1 .cards{
 padding: 10px;
  padding-top: 20px;
  justify-content: space-around;
  
  margin-bottom: 35px;
  margin-top: 15px;
  margin-left: 35px;
  margin-right: 35px;
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.582);
  text-align: center;
  background-color:none;
  transition: transform 250ms;
}
.column1 .cards:hover{
      transform: translateY(-30px);
}
.cards .japan{
  text-transform: uppercase;
  margin: 10px;
  color: white;
  font-size: 20px;
}
.cards img{
  margin: 20px;
}
.up{
  margin-left: 15px;
  margin-right: 15px;
  padding-top: 25px;
  color: #bdd0fb;
  font-size: 18px;
}
.up1{
  margin-left: 15px;
  margin-right: 15px;
  padding-top: 45px;
  color: white;
  font-size: 18px;
}
.cards .up{
  margin-top: 20px;
  margin-bottom: 1.5rem;
  color: white;
  display: flex;
  text-align: start;
}
.give{
  background-color: white;

  text-align: center;
  height:120%;
  margin:0;
  padding:20px;}
/*.s{
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count:3;
  -webkit-column-gap: 50px;
  -moz-column-gap: 50px;
  column-gap: 50px;
  -webkit-column-rule: 1px solid rgba(28,110,164,0.32);
  -moz-column-rule: 1px solid rgba(28,110,164,0.32);
  column-rule: 1px solid rgba(28,110,164,0.32);
  position: absolute;
  /*width: 100%;
  height: 100%;
  top: 200px;
  left: 50px;
  right: 80px;
  display:block;
}*/
.give .anglais{
  position:absolute;
  top:450px;
  left:-200px;
  font-size: 45px;
  text-transform: uppercase;
  transform: rotate(-90deg);
  color: #09005F;
  
}

.give .anglais1{
  position:absolute;
  top: 450px;
  left:-80px;
  font-size: 40px;
  text-transform: uppercase;
  transform: rotate(-90deg);
  color: #09005F;

  
}
/*.s1{
  display: flex; 
  left: 80px;
  margin-top: 10px;
}
.s{
 margin-left:300px;

 position: absolute;
 margin-top: -80px;
}
.s li p {
 margin-top: 100px;
 font-size: 20px;
 justify-content: center;
 align-content: center;
}
.s li {
  display: flex;
  justify-content:flex-start;
  background: teal;
  list-style-type: none;
  margin: 3px;
  padding: 30px;
  height: 250px;
}
.s img{
 margin-right: 30px;
 margin-top: 60px;

}
.s2{
  display: flex;
  
 
}
*/
.s {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 140px;
  grid-row-gap: 80px;
  position: absolute;
  left: 17%;
  top: 10%;
  font-size: 26px;
  }
  
  .div1 { grid-area: 1 / 1 / 2 / 2; 
      width: 300px;
      height: 200px;
      background-color: #e3ecfe;
      box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.2);
      text-align: center;
      transition: transform 250ms;
  }
  .div2 { grid-area: 2 / 1 / 3 / 2;
      width: 300px;
      background-color: #e3ecfe;
      box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.2);
      text-align: center;
      
      transition: transform 250ms;}
  .div3 { grid-area: 3 / 1 / 4 / 2; 
      width: 300px;
      background-color: #e3ecfe;
      box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.2);
      text-align: center;
      
      transition: transform 250ms;}
  .div4 { grid-area: 1 / 2 / 2 / 3; 
   width: 300px;
  background-color: #e3ecfe;
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  
  transition: transform 250ms;
  }
  .div5 { grid-area: 2 / 2 / 3 / 3; 
      width: 300px;
      background-color: #e3ecfe;
      box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.2);
      text-align: center;
      
      transition: transform 250ms;}
  .div6 { grid-area: 3 / 2 / 4 / 3; 
      width: 300px;
      background-color: #e3ecfe;
      box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.2);
      text-align: center;
      
      transition: transform 250ms;}
  .div7 { grid-area: 1 / 3 / 2 / 4; 
      width: 300px;
      background-color:#e3ecfe;
      box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.2);
      text-align: center;
      
      transition: transform 250ms;}
  .div8 { grid-area: 2 / 3 / 3 / 4; 
      width: 300px;
      background-color: #e3ecfe;
      box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.2);
      text-align: center;
      
      transition: transform 250ms;}
  .div9 { grid-area: 3 / 3 / 4 / 4; 
      width: 300px;
      background-color: #e3ecfe;
      box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.2);
      text-align: center;
      
      transition: transform 250ms;}
.we{
  background-color: white;
  height: 80%;
  margin:0;
}

.i{
  position: absolute;
  top: 0;
  
}
.list{
  position: absolute;
  top:0;
  right: 50px;
  justify-content: center;
  align-items: center;
  padding-bottom: 35px;
  font-size: 45px;
}
.wp{
  color: white;
}
.list .h{
  
  margin: 80px;
  margin-right: 220px;
  color: #09005F;
}
.list ul{
  justify-content: space-around;
  margin-left: 100px;
  color: #88aaf4;
  list-style: none;
}
.A{
  text-decoration: none;
  color: none;
}

.story{
  margin-top:0;
  padding: 0;
  width:auto;
  height: auto; 
}
.wrappert{
 margin-top:0;
 background-color:#09005F;
 width:auto;
 height: auto;
 
}

.wp {
  font-family: poppins;
 font-size: 80px;
 margin-bottom: 60px;
 top: 0;
 padding-top: 30px;
 margin-left: 400px;
 text-align: center;
 position: absolute;

}

.team{
 display: flex;
 justify-content: center;
 width: auto;
 text-align: center;
 flex-wrap: wrap;
 padding-top: 170px;
 padding-bottom: 45px;
 background: none;
 position:relative;

}

.team .team_member{
 background: #fff;
 margin: 15px;
 margin-bottom: 50px;
 margin-top: 100px;
 width: 25%;
 padding: 20px;
 line-height: 20px;
 color: #8e8b8b;  
 position: relative;
}

.team .team_member .theyare{
 color: #88aaf4;
 font-size: 26px;
 margin-top: 50px;
}

.team .team_member p.role{
  text-decoration: none;
 color: #ccc;
 margin: 12px 0;
 font-size: 12px;
 text-transform: uppercase;
}
.team .team_member p{
  color: #8e8b8b;
}

.team .team_member .team_img{
 position: absolute;
 top: -50px;
 left: 50%;
 transform: translateX(-50%);
 width: 100px;
 height: 100px;
 border-radius: 50%;
 background: #fff;
}

.team .team_member .team_img img{
 width: 100px;
 height: 100px;
 padding: 5px;
}

.selfie{
  position: absolute;
  margin-top: 150px;
  padding-left: 20px;
  
}

.about-section{
 background: url() no-repeat left;
 background-size: 55%;
 background-color: #88aaf4;
 overflow: hidden;
 padding: 100px 0;
 padding-left: 50%;
}

.inner-container{
 width: 100%;
 float: right;
 background-color: #fdfdfd;
 padding: 120px;
 margin-right: 5%;
}

.total h1{
 margin-bottom: 30px;
 font-size: 80px;
 font-weight: 900;
 position: absolute;
 align-items: center;
 letter-spacing: 3px;
 margin-left: 85px;
 margin-top: 100px;
 color: white;
}

.text{
 font-size: 18px;
 color: #545454;
 line-height: 30px;
 text-align: justify;
 margin-bottom: 40px;
}
.inner-container a{
  font-size: 18px;
}
.skills{
 display: flex;
 justify-content: space-between;
 font-weight: 700;
 font-size: 13px;
}

@media screen and (max-width:1200px){
 .inner-container{
     padding: 80px;
 }
}

@media screen and (max-width:1000px){
 .about-section{
     background-size: 100%;
     padding: 100px 40px;
 }
 .inner-container{
     width: 100%;
 }
}

@media screen and (max-width:600px){
 .about-section{
     padding: 0;
 }
 .inner-container{
     padding: 60px;
 }
}



.team1{
  background-color: #BBE1FA;
  
  /*background-image: url(../assets/team.jpg);*/
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  margin: 0;
  height:100%;
}
.meet h1{
  transform: rotate(-90deg);
  display: flex;
  padding: 75px;
  position: absolute;
  float: left;
  margin-right: 97%;
  margin-left: 0;
  font-size:85px;
  letter-spacing: 2px;
  height: 0%;
  color: #0F0A3C;
  

}
.meet{
  display: flex;
  align-items: center;
  justify-content: center;
}
.meet p{
  font-size:25px;
  letter-spacing: 2px;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 80px;
  color: #07051a;
}
.fireee{
  position: absolute;
  font-size:100px;
  letter-spacing: 2px;
  font-weight: 700;
  top: 10px;
  color: #09005F;
}
.try2nd{
  width: 100%;
  height: 118vh;
  background-color: #fff;
  display: flex;
  align-items: center;
  
  margin: 0;
}
.soual{
  width: 50%;
  max-width: 80rem;
  
  padding: 0 1.5rem;
  
  
}
.acc-it{
  background-color: #0c007a;
  border-radius: .4rem;
  margin-bottom: 1rem;
  padding: 1rem;
  box-shadow: .5rem 2px .5rem rgba(0, 0, 0, 1);
}
.tari9{
  font-size: 1.6rem;
  color: #88aaf4;
  text-decoration: none;
  background-color: #09005F;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem ;
  

}
.trai9 a{
  scroll-margin-top:50%;
  padding-top: 200px;
}
.tari9 i{
  color: #e3ecfe;
  padding: .5rem;

}
.tari9 .nc-minimal-up{
  display: none;
}
.anso{
  position: relative;
  background-color: #88aaf4;
 max-height:0;
 overflow:hidden;
 transition: max-height 300ms;
}
.ando::before{
  content: "";
  position: absolute;
  width: .6rem;
  height: 70%;
  background-color: #88aaf4;
  top: 30%;
  left: 0;
  transform: translateY(-20%);
}
.anso p{
  color: #fff;
  font-size: 1.4rem;
  padding: 2rem;
}
.acc-it:target .anso{
max-height: 20rem;

}
.acc-it:target .trai9 .nc-minimal-down{
  display: none;
}
.acc-it:target .trai9 .nc-minimal-up{
  display: block;
}
.fqas{
  background-color:white;
  width:100%;
  text-align: center;
  height: 100%;
  margin:0;
  }
.kl{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: relative;
  left: 100px;
}
.fqas .askouni{
  font-size: 100px;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 40px;
 left: 650px;
 color: #09005F;
}
.fir{
 /*padding: 150px;*/
margin-bottom: 50px;

}
.gn{
  left:-175px;
  top: 100px;
   padding: 20px;
  margin-right: 1000px;
  bottom: 350px;
  width: 50%;
  margin-left: 200px;
  position: absolute;
 margin-top: 100px;
  background-color: #88aaf4;
  display: flex;
  justify-content:flex-start;
  -webkit-box-shadow: 15px 15px 0px 0px #fc877f, 5px 5px 0px 14px rgba(224, 214, 214, 0); 
   box-shadow: 15px 15px 0px 0px #fc877f, 5px 5px 0px 14px rgba(0,0,0,0);
   color: #fff;
   
   
}
.gn .francais{
position: absolute;
margin-top: -5px;
padding: 10px;
}
.gn p{
  position: relative;
  margin-top: 40px;
  padding: 10px;
  justify-content: start;
}
.gm{
  right:-175px;
  top: 100px;
   padding: 20px;
  margin-right: 395px;
  bottom: 350px;
  width:30%;
  margin-left: 1000px;
  position: absolute;
 margin-top: 100px;
  display: block;
  justify-content:flex-start; 
  background-color: #88aaf4;
  -webkit-box-shadow: 15px 15px 0px 0px #fc877f, 5px 5px 0px 14px rgba(0,0,0,0); 
   box-shadow: 15px 15px 0px 0px #fc877f, 5px 5px 0px 14px rgba(0,0,0,0);
}
.gm p{
  display: flex;
  justify-content:flex-start;
  margin-top: 40px;

}
.firs{
  /* padding: 150px;*/
   margin-bottom: 10px;

}
.gns{
   right:225px;
   top: 400px;
   padding: 20px;
   bottom: 75px;
   width: 50%;
   position: absolute;
   margin-top: 75px;
   
   display: flex;
   justify-content:flex-start;
   
   background-color: #88aaf4;
   -webkit-box-shadow: 15px 15px 0px 0px #fc877f, 5px 5px 0px 14px rgba(0,0,0,0); 
    box-shadow: 15px 15px 0px 0px #fc877f, 5px 5px 0px 14px rgba(0,0,0,0);
}
.gns .francais {
position: absolute;
margin-top: 5px;
}
.gns p{
   position: relative;
   margin-top: 50px;
   justify-content: start;
}
.gms{
   left:-975px;
   top: 400px;
   padding: 20px;
   margin-right:500px;
   bottom: 75px;
   width:30%;
   margin-left: 1000px;
   position: absolute;
   margin-top: 75px;
   display: block;
   justify-content:flex-start;
    background-color: #88aaf4;
    -webkit-box-shadow: 15px 15px 0px 0px #fc877f, 5px 5px 0px 14px rgba(0,0,0,0); 
     box-shadow: 15px 15px 0px 0px #fc877f, 5px 5px 0px 14px rgba(0,0,0,0);
}
.gms p{
   display: flex;
   justify-content:flex-start;
   padding: 30px;
}
.last{
  width:100%;
  text-align: center;
  background-color: #09005F;
  height: 80%;
  margin:0;
  padding:10px;
}

.footer{
  width:100%;
  text-align: center;
  background-color: rgb(184, 11, 98);
  height: 70%;
  margin:0;
  padding:10px;
}
.join {
  position:relative;
  padding-left:850px;
box-shadow: 10px 6px 9px 1px ;
  background-color:#e3ecfe;
border-radius:42px;
display:inline-block;
cursor:pointer;
color:#09005F;
font-family:Arial;
font-size:28px;
font-weight:bold;
padding:10px 49px;
text-decoration:none;
  
}

.join:active {
position:relative;
top:1px;
}
.jx{
  margin-left: 8%;
  padding-right: 30%;
  position: absolute;
}
.ready{
  box-sizing: border-box;
  display: block;
  width: 50%;
  padding-left: 150px;
  margin-left: 700px;
  padding-bottom:50px;
  padding-top: 100px;
  height:10%;
}
.ready .yalla{
  margin-bottom:40px;
  letter-spacing: 2px;
  font-size: 50px;
  justify-content: center;
  align-items: center;
  color: #BBE1FA;
}
.ready p{
  letter-spacing: 2px;
  font-size: 35px;
  justify-content: center;
  align-items: center;
  margin: 45px;
  color:white;
}
.before{
  width:100%;
  text-align: center;
  background-color: #fff;
  height: 50%;
  margin:0;
  padding:10px;
  -webkit-column-count: 2;
 -moz-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 10px;
  -moz-column-gap: 10px;
  column-gap: 10px;
  -webkit-column-rule: 1px solid rgba(28,110,164,0.5);
  -moz-column-rule: 1px solid rgba(28,110,164,0.5);
   column-rule: 1px solid rgba(28,110,164,0.5);
}
.an{
      cursor: pointer;
      color: #09005F;
      font-size: 16px;
      letter-spacing: 2px;
      text-transform: uppercase;
      background:none;  
      padding: 20px;           
}
.an:hover{
  text-decoration: underline;
  color: #0F0A3C;
}
.o{
  float: left;
}
.in .spain{
  float: left;
  color: #09005F;
  font-size: 26px;
}
.in p{
  color: #0F0A3C;
  display: block;
  padding:40px;
}
.o1{
  float: left;
}
.in1 .spain{
  float: left;
  color: #09005F;
  font-size: 26px;
}
.in1 p{
  color: #0F0A3C;
  padding:40px;
}
.lo{
  position: absolute;

}
.footer-cleanr {
  padding:50px 0;
  background-color:#09005F;
  color:#BBE1FA;
  margin: 0;
}
.rowx{
  justify-content:space-between;
  display:flex;
   flex-direction:row
}
.iteme{
    display:block;
    margin-left:80px;
    margin-right:50px;
    
}
.footer-cleanr h2 {
  margin-top:0;
  margin-bottom:12px;
  font-weight:bold;
  font-size:26px;
}

.footer-cleanr ul {
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:14px;
  margin-bottom:0;
}

.footer-cleanr ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.5;
  font-size: 18px;
}

.footer-cleanr ul a:hover {
  opacity:1;
}

.footer-cleanr .iteme.social{
  text-align:right;
  
}

@media (max-width:767px) {
  .footer-cleanr .iteme {
    text-align:center;
    padding-bottom:20px;
  }
}

@media (max-width: 768px) {
  .footer-cleanr .iteme.social {
    text-align:center;
   
  }
}

.footer-cleanr  .iteme.social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid  #fe877f;
  margin-left:10px;
  margin-top:22px;
  color:inherit;
  opacity:0.65;
}

.footer-cleanr  .iteme.social > a:hover {
  opacity:1;
}

@media (max-width:991px) {
  .footer-cleanr .iteme.social > a {
    margin-top:40px;
  }
}

@media (max-width:767px) {
  .footer-cleanr  .iteme.social > a {
    margin-top:10px;
  }
}


.footer-cleanr .copyright {
  margin-top:14px;
  margin-bottom:0;
  font-size:13px;
  opacity:0.6;
}
