<div class="hope">
    <svg class="intro" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#000b76" fill-opacity="1" d="M0,0L40,5.3C80,11,160,21,240,64C320,107,400,181,480,202.7C560,224,640,192,720,186.7C800,181,880,203,960,218.7C1040,235,1120,245,1200,234.7C1280,224,1360,192,1400,176L1440,160L1440,0L1400,0C1360,0,1280,0,1200,0C1120,0,1040,0,960,0C880,0,800,0,720,0C640,0,560,0,480,0C400,0,320,0,240,0C160,0,80,0,40,0L0,0Z"></path></svg>
    
    
    <div class="logo">
      <p>navigias
      </p>
    </div>
    <nav>
      <ul class="nav-area">
          <li><a href="#">Home</a></li>
          <li><a href="#">Services </a></li>
          <li><a href="#">About us</a></li>
          <li><a href="#">achivement & user experience </a></li>
          <li><a href="#">Contact us</a></li>
          </ul>
          <a [routerLink]="[ 'dashborad/overview' ]" class="btn-area">Join us</a>
    </nav>
    
    <div class="deux">
      <div  class="img"id="wlc" style="content: url(../assets/intro.svg);position: absolute; "></div>
      <div class="premier">
        <h1>introduction</h1>
        <div class="situation">1 23 i m doing it anyways and it does matter cuz i didn t throw it away out of hate or anger a very long way not able to do it and to be creative, 1 2 3 my mind is saying a big no to dessign, i can t think and i can t be creative i just  love coding not designing </div>
      </div>
     
    </div>
   <div class="alors">
       <div class="oil">
            <h3>Our Services</h3>
          </div>
    <div class="maybe">        
  
        <div class="card">
  
          <div class="front Card-Shadow">
            <div class="card-header">
              <h2>real time data</h2>
            </div>
            <div class="card-body">
              <p>
                iciendis, vel, sequi.
              </p>
              <a href="#" class="btn">Read more</a>
            </div>
    
  
  
          </div>
          <div class="back Card-Shadow">i really don t know what i m doing or writing i just want to fill the box with some content and that s the point at least i can do something useful in all this mess</div>
        </div>
      </div>
      <div class="maybe">
        <div class="card">
          <div class="front Card-Shadow">
            <div class="card-header">
              <h2>real time data</h2>
            </div>
            <div class="card-body">
              <p>
                iciendis, vel, sequi.
              </p>
              <a href="#" class="btn">Read more</a>
            </div>
    
  
  
          </div>
          <div class="back Card-Shadow">i really don t know what i m doing or writing i just want to fill the box with some content and that s the point at least i can do something useful in all this mess</div>
        </div>
      </div>
      <div class="maybe">
        <div class="card">
          <div class="front Card-Shadow">
            <div class="card-header">
              <h2>real time data</h2>
            </div>
            <div class="card-body">
              <p>
                iciendis, vel, sequi.
              </p>
              <a href="#" class="btn">Read more</a>
            </div>
    
  
  
          </div>
          <div class="back Card-Shadow">i really don t know what i m doing or writing i just want to fill the box with some content and that s the point at least i can do something useful in all this mess</div>
        </div>
      </div>
    </div>
    <div class="about-section">
    <div class="inner-container">
        <h1>you can add any section you want nhotoulha small descriptioncommunication through code xD)w bjanbou pic w hedha chyet3awedh b kelma!</h1>
        <p class="text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus velit ducimus, enim inventore earum, eligendi nostrum pariatur necessitatibus eius dicta a voluptates sit deleniti autem error eos totam nisi neque voluptates sit deleniti autem error eos totam nisi neque.
        </p>
        <div class="skills">
            <span>Web Design</span>
            <span>Photoshop & Illustrator</span>
            <span>Coding</span>
        </div>
    </div>
  </div>
   
  <div class="y">   
   <!--<div class="about-us">   
       <div class="div-t">
         <h4>about Us</h4>
       </div>
     <div class="goals">
       <div class="goal" id="first">
         <img src="../assets/check.png" alt="" >
         <h1>Our mission</h1>
         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex</p>
       </div>
      <div class="goal" id="2">
         <img src="../assets/check.png" alt="" >
         <h1>Our essence</h1>
         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex</p>
      </div>
     </div>
     <div class="goals-div">  
      <div class="goal-" id="first-ch">
         <img src="../assets/check.png"alt="" >
         <h1>Our promise</h1>
         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex</p>
      </div>
      <div class="goal-">
         <img src="../assets/check.png" alt="" id="4">
         <h1>Our vibe</h1>
         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex</p>
       </div>
    </div>
   </div>-->
   <div class="total">
   <div class="about-sectio">
     <div class="inner-container">
       <h1>
         About Us
         <div class="border"></div>
       </h1>
       <p class="text">
         Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste, exercitationem, nam architecto perspiciatis culpa dolorum laudantium facilis esse quo, atque minus? Quaerat, assumenda architecto numquam similique molestias ducimus eum perferendis.
       </p>
       <button>Read more</button>
     </div>
   </div>
  </div>
  
  
  
    <div class="wrapper">
    <h1 style="color: white;">Our Team</h1>
    <div class="team">
      <div class="team_member">
        <div class="team_img">
          <img src="https://i.imgur.com/2pGPLrl.png" alt="Team_image">
        </div>
        <h3>fares</h3>
        <p class="role">UI developer</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est quaerat tempora, voluptatum quas facere dolorum aut cumque nihil nulla harum nemo distinctio quam blanditiis dignissimos.</p>
      </div>
      <div class="team_member">
        <div class="team_img">
          <img src="https://i.imgur.com/2pGPLrl.png" alt="Team_image">
        </div>
        <h3>abderaouf</h3>
        <p class="role">UI developer</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est quaerat tempora, voluptatum quas facere dolorum aut cumque nihil nulla harum nemo distinctio quam blanditiis dignissimos.</p>
      </div>
      <div class="team_member">
        <div class="team_img">
          <img src="https://i.imgur.com/jQj1I8E.png" alt="Team_image">
        </div>
        <h3>yasmine</h3>
        <p class="role">UI developer</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est quaerat tempora, voluptatum quas facere dolorum aut cumque nihil nulla harum nemo distinctio quam blanditiis dignissimos.</p>
      </div>
      <div class="team_member">
        <div class="team_img">
          <img src="https://i.imgur.com/jQj1I8E.png" alt="Team_image">
        </div>
        <h3>ameny</h3>
        <p class="role">Tester</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est quaerat tempora, voluptatum quas facere dolorum aut cumque nihil nulla harum nemo distinctio quam blanditiis dignissimos.</p></div>
      <div class="team_member">
        <div class="team_img">
          <img src="https://i.imgur.com/jQj1I8E.png" alt="Team_image">
        </div>
        <h3>dorra</h3>
        <p class="role">Support Lead</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est quaerat tempora, voluptatum quas facere dolorum aut cumque nihil nulla harum nemo distinctio quam blanditiis dignissimos.</p>
      </div>
    </div>
  </div>
   </div>
  <!--<div class="wrapperr">
    <ul>
      <li>
        <a href="#">
            <img src="https://i.imgur.com/8N4R8Ej.png" alt="cycle">
            <p>our mission</p>
            </a>
  
        <div class="submenu">
          <div class="img_container">
            <img src="https://i.imgur.com/YP6pE0s.png" alt="games" width="300">
            <div class="holder">
              <img src="https://i.imgur.com/aelCqkn.png" alt="" width="30"> Bicycle
            </div>
          </div>
          <div class="info_container">
            <ul>
              <li><a href="#">Bicycle_1</a></li>
              <li><a href="#">Bicycle_2</a></li>
              <li><a href="#">Bicycle_3</a></li>
              <li><a href="#">Bicycle_4</a></li>
            </ul>
          </div>
        </div>
  
      </li>
  
      <li><a href="#">
            <img src="https://i.imgur.com/uSrnLfa.png" alt="bike">
            <p>our essence</p>
            </a>
        <div class="submenu">
          <div class="img_container">
            <img src="https://i.imgur.com/9eDDczM.png" alt="games" width="300">
            <div class="holder">
              <img src="https://i.imgur.com/Z5chKaj.png" alt="" width="30"> Bike
            </div>
          </div>
          <div class="info_container">
            <ul>
              <li><a href="#">Bike_1</a></li>
              <li><a href="#">Bike_2</a></li>
              <li><a href="#">Bike_3</a></li>
              <li><a href="#">Bike_4</a></li>
            </ul>
          </div>
        </div>
  
      </li>
      <li><a href="#">
            <img src="https://i.imgur.com/r0fwlSt.png" alt="car">
            <p>our promise</p>
            </a>
        <div class="submenu">
          <div class="img_container">
            <img src="https://i.imgur.com/2k2Klum.png" alt="games" width="300">
            <div class="holder">
              <img src="https://i.imgur.com/qM93vBh.png" alt="" width="30"> Car
            </div>
          </div>
          <div class="info_container">
            <ul>
              <li><a href="#">Car_1</a></li>
              <li><a href="#">Car_2</a></li>
              <li><a href="#">Car_3</a></li>
              <li><a href="#">Car_4</a></li>
            </ul>
          </div>
        </div>
  
      </li>
      <li><a href="#">
            <img src="https://i.imgur.com/eZKj2M9.png" alt="truck">
            <p>our vibe</p>
            </a>
        <div class="submenu">
          <div class="img_container">
            <img src="https://i.imgur.com/ei4lSWQ.png" alt="games" width="300">
            <div class="holder">
              <img src="https://i.imgur.com/hG9lT5Z.png" alt="" width="30"> Truck
            </div>
          </div>
          <div class="info_container">
            <ul>
              <li><a href="#">Truck_1</a></li>
              <li><a href="#">Truck_2</a></li>
              <li><a href="#">Truck_3</a></li>
              <li><a href="#">Truck_4</a></li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
  </div>-->
  
  
  
   
    <footer class="footer">
    <div class="ct">
      <div class="row">
        <div class="footer-col">
          <h4>company</h4>
          <ul>
            <li><a href="#">home</a></li>
            <li><a href="#">about us</a></li>
            <li><a href="#">our services</a></li>
            
          </ul>
        </div>
        <div class="footer-col">
          <h4>get help</h4>
          <ul>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">user experience</a></li>
          
          </ul>
        </div>
        <div class="footer-col">
          <h4>join us </h4>
          <ul>
            <li><a href="#">website</a></li>
            <li><a href="#">app</a></li>
            <li><a href="#">login</a></li>
            <li><a href="#">signup</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>follow us</h4>
          <div class="social-links">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
          </div>
        </div>
      </div>
    </div>
    
    
    </footer>
  
  
    
    </div>