
    <div class="alot">
      <div class="trara">
          <div class="busan">
             <div class="seoul">
                 <div class="safra2">
                 <img src="../assets/bell.svg" alt="">
                   <h3>Notification to this person from this container</h3>
                </div>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt error sed expedita saepe alias quo architecto itaque tempore amet, non atque autem a voluptate dolores nihil dolor voluptates repudiandae iure?</p>
              </div>
              <div class="seoul">
                <div class="safra2">
                <img src="../assets/bell.svg" alt="">
                  <h3>Notification to this person from this container</h3>
               </div>
                 <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt error sed expedita saepe alias quo architecto itaque tempore amet, non atque autem a voluptate dolores nihil dolor voluptates repudiandae iure?</p>
             </div>
             <div class="seoul">
                <div class="safra2">
                <img src="../assets/bell.svg" alt="">
                  <h3>Notification to this person from this container</h3>
               </div>
                 <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt error sed expedita saepe alias quo architecto itaque tempore amet, non atque autem a voluptate dolores nihil dolor voluptates repudiandae iure?</p>
             </div>
             <div class="seoul">
                <div class="safra2">
                <img src="../assets/bell.svg" alt="">
                  <h3>Notification to this person from this container</h3>
               </div>
                 <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt error sed expedita saepe alias quo architecto itaque tempore amet, non atque autem a voluptate dolores nihil dolor voluptates repudiandae iure?</p>
             </div>
          </div>  
       </div>
           
        
    </div>

