<div class="all">
    <div class="first">
        <div class="des">some</div>
        <div class="map">  <img alt src="../assets/mapWorld.svg"></div>
     
    </div>
    <div class="second">
        <div class="loula">
            <div class="sensors">
                    <div class="sousou" style="margin-bottom: 3%;">Current Sensors value</div>
                    <div>
                        <div style="display: flex; flex-direction: row;">
                            
                            
                        </div>
                        <div><p>touch               :<span>{{information.touch.current}}</span> </p></div>
                        <div><p>humidity            : <span>{{information.humidity .current}}</span></p></div>
                        <div><p>pressure            :  <span>{{information.pressure.current}}</span></p></div>
                        <div><p>tracking            :  <span>{{information.tracking .current}}</span></p></div>
                        <div><p>temperature           :  <span>{{information.temperature .current}}</span></p></div>
                    </div>
            </div>
            <div class="other">
                <div>
                    <div class="sousou">container data : </div>
                    <div class="data">Container name : {{information.name}} </div>
                    <div class="data">ID : {{information.id}}</div>
                    <div class="sousou">Added by : </div>
                    <form ngSubmit="edit()">
                        <input class="input" placeholder="worker name">
                        <input class="input" placeholder="added at">
                        <button class="button" (click)="change()" mat-button mat-dialog-close style="margin-right: 50%;">edit</button>
                    </form>
                    <div></div>
                </div>


            </div>

        </div>
        <div class="thenya">
            <div class="alerting">
                
                <div   >description</div>  
                <div>{{information['description']}}</div>
            </div>
            <div class="others">
                <div class="encore">
                        <div >destination :{{information['arrive']}}</div>
                        <div >original distance  :  45km</div>
                        
                </div>
                <div style="display: flex;flex-direction: row; ">
                    <mat-dialog-action>
                        <button class="btn btn-primary" mat-button mat-dialog-close>close</button>
                    </mat-dialog-action>
                    <div>
                        <button class="btn btn-warning" (click)="unactive()">unactivate </button>
                    </div>

                </div>
                

            </div>

        </div>
      
        
    </div>

</div>