<div class="container">
    <div class="forms_container" >
            <img src="../assets/container.png" class="img" alt="">
        <div class="signup-login" >   
             <div *ngIf="type==true; else f">  
    
                            <form action="" [formGroup]="singupForm" class="signup" ngSubmit="signUp()"  >
                            
                            <h2 class="title">Sign up</h2>
                                    <div class="input-field">
                                    <i class="name"></i>
                                    <input type="text"  formControlName="fullName" placeholder="Entre the username" >
                                    </div>
                                    <div class="input-field">
                                    <i class="mail"></i>
                                    <input type="email"  placeholder="Enter your Email"  formControlName="email" >
                                    </div>
                                    <div class="input-field">
                                    <i class="company"></i>
                                    <input type="text" formControlName="company"  placeholder="Entre the company name" >
                                    </div>
                                    <div class="input-field">
                                        <i class="adress"></i>
                                        <input type="text" formControlName="adress" placeholder="Entre your adress" >
                                        </div>
                                        <div class="input-field">
                                                <i class="city"></i>
                                                <input type="text" formControlName="city"  placeholder="Entre tyour current city" >
                                                </div>
                                    <div class="input-field">
                                    <i class="country"></i>
                                    <input type="text" formControlName="country" placeholder="Entre your country " >
                                    </div>
                                    <div class="input-field">
                                        <i class="phone"></i>
                                        <input type="number" formControlName="phone" placeholder="Entre your phone number " >
                                        </div>
                                    <div class="input-field">
                                    <i class="lock"></i>
                                    <input type="password" placeholder="Create a password " formControlName="password"  >
                                    </div>
                                    <div>
                                    <input type="submit" (click)="sginUp()" value="sign up" class="btn">
                                    </div> 
                                    
                            </form>
                            <p>already have an account?</p>
                            <button class="btn btn-primary"  (click)="login()">log in</button>
                    </div>                
      

        </div>
        <ng-template #f> 
            <form action="" [formGroup]="loginForm" ngSubmit="logIn()"  class="signup">
             
                    <h2 class="title">Sign in</h2>
                               
                                <div class="input-field">
                                 <i class="mail"></i>
                               <input type="email" placeholder="Enter your Email" formControlName="email"  >
                                </div>
                               
                             
                               <div class="input-field">
                                  <i class="lock"></i>
                                <input type="password"  placeholder="type your password " formControlName="password" >
                               </div>
                                <div>
                                  <input type="submit" (click)="logIn()"   value="sign in"  class="btn">
                                </div> 
                             
                         </form>
                         <p>don t  have an account?</p>
                         <button class="btn btn-success" (click)="signup()">sign up</button>
         </ng-template>
    </div>
</div>