
<body>
    <div class="design">
    <div class="circle"></div>
    <div class="semi"></div>
    <div class="astro"></div>
    <div class="star1"></div>
    <div class="star"></div>
    <div class="star2"></div>
    </div>
 
<div class="container" style="margin: 0;">
    <div  class="signup-login" >   
                <div class="come" *ngIf="show" >  
                       
                       
                     
                       <form action="" [formGroup]="singupForm" class="signup" ngSubmit="signUp()"  > 
                        <div class="title">Sign up</div>
                       <div class="company">Company <span style=" color:#09005F ; text-transform: uppercase;font-weight: 680;">{{(userCompany)?.name}}</span> is inviting you </div>
                              <div class="input-field">
                               <input type="text"  formControlName="fullName" >
                               <span></span> 
                               
                               <label >Username</label>
                               </div>
                               <div class="input-field">
                               
                               <input type="email"    formControlName="email" >
                               <span></span>
                               
                               <label >Email</label>
                               </div>
    
                               <div class="input-field">
                                   
                                   <input type="text" formControlName="adress"  >
                                   <span></span>
                                   <label >Adress</label>
                                   </div>

                               <div class="input-field">
                               
                               <input type="text" formControlName="country"  >
                               <span></span>
                               <label >Country</label>
                               </div>
                               <div class="input-field">
                                   
                                   <input type="number" formControlName="phone"  >
                                   <span></span>
                                   <label >Phone</label>
                                   </div>
                               <div class="input-field">
                               
                               <input type="password"  formControlName="password"  >
                               <span></span>
                               <label >Password</label>
                               </div>
                               
                         
                        
                               <input type="submit" (click)="sginUp()" value="sign up" class="botton">
                               
                               
                       </form>
                   
               </div>  
               <div class="come">
               <div class="code" *ngIf="! show">
                   <div class="erroret">
                       <img  src="../assets/error.gif" alt="">
                   </div>
               
                    <div class="entri">Link not available</div>
                    

                </div>
 
                </div>           
    </div>
</div> 
</body>
    