<body>
    <div class="design">
      <div class="circle">
      </div>
      <div class="semi"></div>
    </div>
    <div class="astro">
    </div>
    <div class="star1"></div>
    <div class="star"></div>
    <div class="star2"></div>
    <div class="qw">
      Welcome Among Us !
    </div>
    <div class="qw0">
      <div class="qw01">
         We are happy to have here in.
      </div>
     
      <div class="qw02">
        Thanks for choosing Navigias
      </div>  
    </div>
      
    <div class="center">
      <div class="joinina">
        Join Us
      </div> 
    <form method="post" [formGroup]="singupForm"  ngSubmit="signUp()"  >
      <div class="int">
        <input formControlName="fullName" type="text" class="fi1" required>
        <span></span>
        <label>Username</label>
      </div>
      <div class="int">
        <input type="text" formControlName="email" class="fi2" required>
        <span></span>
        <label>Email</label>
      </div>
      <div class="int">
        <input formControlName="company" type="text" required>
        <span></span>
        <label>Company name</label>
      </div>
      <div class="int">
        <input formControlName="adress" type="text" required>
        <span></span>
        <label>Adress</label>
      </div>
      <div class="int">
        <input type="text" formControlName="country" required>
        <span></span>
        <label>Country</label>
      </div>
      <div class="int">
        <input type="text" formControlName="phone" required>
        <span></span>
        <label>Phone Number</label>
      </div>
  
      <div class="int">
        <input formControlName="password" type="password" required>
        <span></span>
        <label>Password</label>
      </div>
      <!--<div class="for">Forgot Password?</div>-->
      <input type="submit"  (click)="sginUp()"  value="sign up">
      <div style="cursor: pointer;"  class="come">
        <div class="comi">
        signup to join your company! <a (click)="signup()">sign up</a>
        </div>
        
        log in instead ? <a (click)="sginup()">log in</a>
      </div>
    </form>
    </div>
  </body>
