
<div class="sidebar-wrapper" style="overflow: hidden" style="color: #051e34;" >
  <div class="logo">

    <a  class="simple-text logo-normal">
     Smart container
    </a>
  </div>
    <ul class="nav"  style="color: #051e34;"  >
        <li   *ngFor="let menuItem of menuItems" routerLinkActive="beactive" class="{{menuItem.class}}">
            <a   [routerLink]="[menuItem.path]" routerLinkActive="beactive">
                <i class="fa {{menuItem.icon}}"></i>
                <p>{{menuItem.title}}</p>
            </a>
        </li>
    </ul>

      <div class="logo">
      </div>
      <ul class="nav" style="color: #051e34;"  >
        <li>
            <a link="#">
              <i  class="fa fa-question-circle" aria-hidden="true"></i>
              <p>support</p>
            </a>
        </li>
        <li>
          <a  link="#" class="" (click)="logingout()"  routerLinkActive="active"  >
            <i class="fa fa-sign-out" aria-hidden="true"></i>
            <p>log out</p>
          </a>
      </li>
    </ul>


