<div class="all">

    <div>
        <div class="first">Set Up A New Collaboration</div>
        <form style="display: flex;flex-direction: row;margin: 20px;margin-bottom: 50px;"  class="inscription" >

            <input type="text" style="margin-right:10px;border-radius: 15px;border: none;box-shadow: 0 6px 10px -4px rgb(0 0 0 / 15%)" class="form-control" name="contianerid"  placeholder="container"  [(ngModel)]="contianerid" >


            <input type="text" style="margin-left: 8px;border-radius: 15px;border: none;box-shadow: 0 6px 10px -4px rgb(0 0 0 / 15%)" class="form-control"   placeholder="company" [(ngModel)]="companyid" name="companyid">
    <div class="button" style="margin-left: 30px;">
        <input type="submit" class="btn btn-danger"style="width:130px;" value="Add" (click)="addColl()" >
    </div>
 </form>
    </div>
    <div style="display: flex;flex-direction: column;">
        <div class="row" style="  -ms-overflow-style: none!important;scrollbar-width: none!important;">
          <div class="col-md-12">
            <div class="card">
              
              <div class="card-header" style="display: flex; align-items: center; justify-content:space-between ;" >
                <h4 class="card-title">   All Colaborations: </h4>
                <div style="float: right !important  ;" >
                </div>
              </div>
        
              <div class="card-body">
                <div class="table-responsive"  style="     overflow: auto;
                ">
                  <table class="table">
                    <thead class=" text-primary">
                      <th>
                        ID
                      </th>
                      <th>
                       name
                      </th>
                      <th>
                        start
                      </th>
                      <th>
                        arrive
                      </th>
                      <th>
                        alerts
                      </th>
                      <th class="text-right">
                        statut
                      </th>
                    </thead>
                    <tbody>
                      <tr *ngFor='let data of dataRows; let i=index;' (click)="openDialog(data)" >
                        <td>
                            {{data.id}}
                        </td>
                        <td>
                          {{data.name}}
                        </td>
                        <td>
                          {{data.start}}
                        </td>
                        <td>
                          {{data.arrive}}
                        </td>
                        <td   >
                          <i style="font-size:35px ;color:red; " class="fas fa-exclamation-triangle"></i>
                        </td>
                        <td class="text-right">
                          <div *ngIf="data.active  else offline">
                            <button class="btn btn-success">active</button>
                          </div>
                          
                          <ng-template #offline>
                         <button class="btn btn-alert">offline</button>
                          </ng-template>
                        </td>   
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        
        <div *ngIf="pop==true" class="popup">
          <div>container details</div>
        
        
        </div>
        
        </div>

</div>
