<div class="all">

    <div>
        <div class="first">Set Up A New Collaboration</div>
        <form style="display: flex;flex-direction: row;" action="" [formGroup]="form" class="inscription" ngSubmit="addProduct()">

            <input type="text" class="form-control" formControlName="name"  placeholder="container" required>
            <span *ngIf="form.controls.name.invalid">Enter container</span>

            <input type="text" class="form-control" formControlName="product"  placeholder="product name" required>
            <span *ngIf="form.controls.id.invalid">Enter a name</span>
            <input class="form-control" type="text" formControlName="any"  placeholder="other information" required>
            <span *ngIf="form.controls.id.invalid">Enter a valid id</span>


    <div class="button">
        <input type="submit" class="btn btn-danger" value="Add" (click)="addContainer()" >
    </div>
 </form>
    </div>
    <div class="second">
        All Colaborations
    </div>
    <div class="boxes">
            <div  class="box">

                <div>company name</div>
                <div>product</div>
                <div>description</div>
                <button class="btn btn-light" (click)="delete(client)">delete company</button>
            </div>
            <div class="box">

                    <div>company name</div>
                    <div>product</div>
                    <div>description</div>
                    <button class="btn btn-light" (click)="delete(client)">delete company</button>
            </div>
            <div *ngFor="let client of clients; let i=index" class="box">

                <div>company name</div>
                <div>product</div>
                <div>description</div>
                <button class="btn btn-light" (click)="delete(client)">delete company</button>
        </div>



    </div>
</div>
