<div class="name">
    <p>Agents</p>
    <div class="add">
        add agent
        <img class="img" src="../assets/add person.jpg">
    </div>
    
    
    
    
    

</div>





<div class="alltable">
    
      
                <div class="searchbar">
                        <div class="container-fluid">
                            <form class="d-flex">
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success" type="submit">Search</button>
                            </form>
                        </div>
                        <div class="addbtn">
                        <button type="button" class="btn btn-warning" >+ Add container</button>
                        </div>
                </div>
                
           
            
    


</div>


