<div class="row" style="justify-content:space-evenly" >
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Team Members</h4>
      </div>
      <div class="card-body">
        <ul class="list-unstyled team-members"  *ngFor="let agent of agentslist; let index=index"  (click)="card(index)">
          <li>
            <div class="row rowet">
              <div class="col-md-2 col-2">
                <div class="avatar">
                  <img class="img" src="assets/boy.svg">
                </div>
              </div>
              <div  style="font-size: 1rem;" class="col-md-7 col-7">
                {{agent.fullName}}
                <br />
                <span >
                  <small>{{agent.status}}</small>
                </span>
              </div>
            </div>
          </li>

         
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-4" *ngIf="carte===true">
      <div class="card card-user">
    <div class="image" style="background-color: #09005F;"> 

    </div>
   
    
     
        
          <div class="card-body-se" >
            <div class="author">
               <a href="#" >
                 <img class="avatar" style="border-radius: 50%, 0% , 50%, 0%" src="assets/boy.svg" alt="...">
                
               </a>
               <h5 class="title" style="color: #09005F; font-weight: 500;letter-spacing: 2px;"> {{info.fullName}}</h5>
               <div style="display: flex; flex-direction: row; justify-content:space-around;"  class="informations">
                 <div class="circle" >
                   <b style="color: #88aaf4;">Availability</b>
                   <div >{{info.status}}</div>
                 </div>
                
 

                  
               </div>
             </div>
             <div class="new" style="display: flex;flex-direction: row;display: flex;justify-content: center; position: relative;">
               <div class="idc">
                 <b  style="color: #88aaf4;">satus</b>
                 <div style="color: rgb(165, 163, 163);">{{info.status}}</div>

               </div>
               <div class="idc">
                <b  style="color: #88aaf4;">phone</b>
                <div style="color: rgb(165, 163, 163);">{{info.phone}}</div>

               </div>
               <div class="idc">
                <b style="color: #88aaf4;">Country </b>
                <div style="color: rgb(165, 163, 163); flex-wrap: wrap;position: relative;">{{info.country}}</div>

               </div>

             </div>
              
             
           </div>
        
       
      
    
  </div>
  </div>
 


</div>




