<div class="row" style="justify-content:space-evenly" >
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Team Members</h4>
      </div>
      <div class="card-body">
        <ul class="list-unstyled team-members"  *ngFor="let agent of agentslist; let index=index"  (click)="card(index)">
          <li>
            <div class="row rowet">
              <div class="col-md-2 col-2">
                <div class="avatar">
                  <img class="img" src="agent.photo">
                </div>
              </div>
              <div  style="font-size: 1rem;" class="col-md-7 col-7">
                {{agent.fullName}}
                <br />
                <span >
                  <small>Offline</small>
                </span>
              </div>
            </div>
          </li>

         
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-4" *ngIf="carte===true">
      <div class="card card-user">
    <div class="image">

    </div>
   
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <div class="card-body">
            <div class="author">
               <a href="#">
                 <img class="avatar border-gray" src="assets/img/faces/ayo-ogunseinde-2.jpg" alt="...">
                 <h5 class="title">{{info.fullName}}</h5>
               </a>
               <div style="display: flex; flex-direction: row; justify-content:space-around;"  class="informations">
                 <div class="circle" >
                   <b style="color: darkgoldenrod;">experience</b>
                   <div>5 years</div>
                 </div>
                
                  <div class="circle" >
                    <b style="color: darkgoldenrod;">stars</b>
                    <div>5 </div>
                  </div>      
                    <div class="circle" >
                      <b style="color: darkgoldenrod;">achievement</b>
                      <div>7</div>
                    </div> 
                  
               </div>
             </div>
             <hr>
             <div class="button-container">
               <div class="row" style="justify-content: left; text-align: left;">
                 <div class="col">
                   <div style="display: flex; flex-direction: row; align-items: center; justify-content: space-evenly; " >
                     <p style="margin-left: 20px; margin-bottom: 0 !important; font-size: 1.2rem; ">Statut:</p>
                     <span  style=" color: #6bd098 ;">
                           Available
                     </span>
                   </div>
       
                 </div>
                 <div class="col">
                   <div style="display: flex; flex-direction: row; align-items: center; justify-content: space-evenly; " >
                     <p style="margin-left: 20px; margin-bottom: 0 !important; font-size: 1.2rem; ">Location:</p>
                     <span >
                      {{info.adress}}
                     </span>
                   </div>
       
                 </div>
                 <div class="col">
                  <div style="display: flex; flex-direction: row; align-items: center; justify-content: space-evenly; " >
                    <p style="margin-left: 20px; margin-bottom: 0 !important; font-size: 1.2rem; ">phone number:</p>
                    <span >
                      {{info.phone}}
                    </span>
                  </div>
      
                </div>
       
               </div>
             </div>
           </div>
        </div>
       
      </div>
    </div>
  </div>
  </div>
 


</div>




